.valor{
    font-weight: bold;
    font-size: 24px;
    color: darkgreen;
    text-align: center;
}
.titulo{
    text-align: center;
}
.fecha{
    text-align: center;
}
.badge{
    justify-content: center;
    font-size: small;
    font-weight: normal;
    display: flex;
}
.chart {
    width: 100%;
  }
