.divisa-info {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
  border-radius: 12px;
}
.divisa-detalle {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;

}
.divisa-resumen {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;

}
.badge{
  font-size: small;
  font-weight: normal;
}
.icon{
  justify-content: flex-end;
}